ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
header,
nav,
ul,
ol,
li,
footer {
    padding: 0;
    margin: 0;
}

body {
    /* 
  font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif;
    */
}

header {
    background-image: url("../Assets/Hero-bg.png");
    background-size: contain;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    justify-content: space-between;
    margin: 0 500px 0 500px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

nav ul li a {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
    font-family: "Inter", sans-serif;
}

nav ul li button {
    width: 132px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
}

.banner {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 158px;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    font-family: "Raleway", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

.banner button {
    width: 174px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 37px;
    margin-bottom: 200px;
}

main {
    background-color: #FDFFF5;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.action-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.action-summary h1 {
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    font-family: "Raleway", sans-serif;
}

.action-summary p {
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    font-family: "Raleway", sans-serif;
    margin-top: 23px;
    margin-bottom: 23px;
}

.action-summary button {
    width: 229px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 36px 0 12px;
}

.action-image {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20%;
}

.productive-card {
    background-color: rgba(78, 71, 255, 10%);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.productive-card-title h1 {
    color: #252432;
    font-size: 38px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.productive-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-bottom: 50px;
}

.productive-stat-number {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    align-items: center;
    justify-content: center;
    display: flex;
}

.productive-stat-label {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #000000;
    opacity: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.review-heading {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-1,
.card-2,
.card-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 24px;
    width: 366.67px;
    border: 2px solid #F2EDED;
}

.review-star {
    padding-bottom: 24px;
}

.review-description {
    padding-bottom: 24px;

}

.review-title {
    padding-bottom: 10px;
    font-family: "Raleway", sans-serif;
}

.review-title p {
    font-family: "Raleway", sans-serif;
}

.reviewer-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.reviewer-avatar img {
    border-radius: 50%;
}

.reviewer-name {
    color: #868686;
    font-family: "Inter", sans-serif;
}

.reviewer-date {
    color: #bebebe;
    font-family: "Inter", sans-serif;
    opacity: 50%;
}

.ready-to-focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 14px;
    margin-left: 106px;
    margin-right: 106px;
    margin-bottom: 71px;
}

.ready-to-focus-header {
    margin-top: 71px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 21px;
}

.ready-to-focus-image img {
    margin-bottom: 71px;
    border-radius: 48px;
}

.ready-to-focus-paragraph {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #000000;
    opacity: 50%;
    padding-bottom: 21px;
}

.ready-to-focus-button {
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready-to-focus-button button {
    width: 195px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.newsletter {
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-left: 106px;
    margin-right: 106px;
}

.newsletter-header h1 {
    font-family: "Raleway", sans-serif;
    color: #000;
    font-size: 97px;
    font-weight: 700;
    width: 528px;
    height: 232px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 232px;
}

.newsletter-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
    color: #000000;
}

input {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #000000;
    opacity: 70%;
    padding: 20px 32px 20px 32px;
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #EDD6D6;
}

textarea {
    width: 497px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #EDD6D6;
    padding: 20px 32px 20px 32px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #000000;
    opacity: 70%;
}
button[type="submit"] {
    width: 566px;
    height: 70px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
}